[submodule "external/quickstart-compliance-common"]
	path = external/quickstart-compliance-common
	url = https://github.com/aws-quickstart/quickstart-compliance-common.git
[submodule "external/quickstart-compliance-uk-official"]
	path = external/quickstart-compliance-uk-official
	url = https://github.com/aws-quickstart/quickstart-compliance-uk-official.git
